.texto{
  color: rgb(0, 0, 0);
  float: left;
  text-align: center;
  padding-right: 195px;
  font-size:20px;
  
}

.instrução{
  color: brown;
  float: right;
    background-color:rgb(20, 19, 19);
  /* border: 2px solid rgb(247, 188, 62); 
  border-radius: 2px;  */
  text-align: center;
margin-left: 70px;
  
}



body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
   
  }


header{
  background-image: url('./images/background2.png');
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  

#canvas {
  background-image: url('./images/telaJogo.png');
  background-position: right;
  background-repeat: no-repeat;
  /* background-color:rgb(0, 0, 0); */
  /* border: 6px solid rgb(78, 77, 77); */
  /* border-radius: 20px; */
  
  
}


#game-board {
    float: left;
  
}

    